In [23]:
import re
import ast
import pandas as pd
import numpy as np
import time
from datetime import datetime

gameplay = pd.DataFrame()

clean = open('bronze_raw.txt').read().replace('\n', '')
champs = clean.split("|")

#Parse data 
for champ in champs[0:-1]:
    
    df = pd.DataFrame()
    df1 = pd.DataFrame()
    df2 = pd.DataFrame()
    df3 = pd.DataFrame()
    
    temp_champ = champ
    graphs = re.findall ( 'data:(.*?)lines:', temp_champ, re.MULTILINE)

    name = temp_champ.split('^')[0]
    #print(name)
    dt = datetime.strptime(temp_champ.split('^')[4], 
                                        '                %b %Y            ')
    release = time.mktime(dt.timetuple())

    s = graphs[0]
    data_pop = ast.literal_eval(s[1:-25])

    data = np.array(data_pop)
    df1['date'] = data[:,0]/1000
    df1['popularity'] = data[:,1]

    s = graphs[1]
    data_wr = ast.literal_eval(s[1:-25])
    data2 = np.array(data_wr)
    df2['date'] = data2[:,0]/1000
    df2['winrate'] = data2[:,1]

    s = graphs[2]
    data_br = ast.literal_eval(s[1:-25])
    data3 = np.array(data_br)
    df3['date'] = data3[:,0]/1000
    df3['banrate'] = data3[:,1]

    df = pd.merge(pd.merge(df1, df2, on='date'), df3, on='date', how='outer')
    df['name'] = name
    df['release'] = release
    gameplay = pd.concat([gameplay, df], axis=0)
    
gameplay.sort_values('date', inplace=True)
gameplay.reset_index(drop=True, inplace = True)
gameplay.head()

           date  popularity  winrate  banrate     name       release
0  1.394525e+09        4.17    50.20     0.34   aatrox  1.370045e+09
1  1.394525e+09        4.46    48.71     0.15     ryze  1.233446e+09
2  1.394525e+09        5.26    50.66     0.10  sejuani  1.325376e+09
3  1.394525e+09        4.52    48.77     0.31    diana  1.343779e+09
4  1.394525e+09        4.69    48.37     0.19    shaco  1.254355e+09

In [18]:
dates = gameplay.date.unique()
dates

array([  1.39452533e+09,   1.39514040e+09,   1.39576680e+09,
         1.39641120e+09,   1.39717081e+09,   1.39780800e+09,
         1.39848840e+09,   1.39932233e+09,   1.39992841e+09,
         1.40055990e+09,   1.40119170e+09,   1.40183281e+09,
         1.40247151e+09,   1.40312400e+09,   1.40380500e+09,
         1.40441610e+09,   1.40503200e+09,   1.40565030e+09,
         1.40631180e+09,   1.40722530e+09,   1.40786310e+09,
         1.40854590e+09,   1.40918640e+09,   1.40982514e+09,
         1.41047196e+09,   1.41109710e+09,   1.41177000e+09,
         1.41242520e+09,   1.41321824e+09,   1.41383694e+09,
         1.41444360e+09,   1.41505560e+09,   1.41573600e+09,
         1.41634440e+09,   1.41696000e+09,   1.41780600e+09,
         1.41880681e+09,   1.41955920e+09,   1.42024243e+09,
         1.42097814e+09,   1.42165441e+09,   1.42234560e+09,
         1.42238228e+09,   1.42321320e+09,   1.42385400e+09,
         1.42453440e+09,   1.42521480e+09,   1.42584121e+09,
         1.42646400e+09,   1.42716241e+09,   1.42783921e+09,
         1.42857000e+09,   1.42922161e+09,   1.42991280e+09,
         1.43062200e+09,   1.43126281e+09,   1.43196841e+09,
         1.43266320e+09,   1.43327881e+09,   1.43392373e+09,
         1.43456760e+09,   1.43524440e+09,   1.43591400e+09,
         1.43656279e+09,   1.43727481e+09,   1.43791921e+09,
         1.43870954e+09,   1.43935561e+09,   1.44000720e+09,
         1.44087121e+09,   1.44148681e+09,   1.44225257e+09,
         1.44304920e+09,   1.44381240e+09,   1.44444960e+09,
         1.44524880e+09,   1.44597600e+09,   1.44675451e+09,
         1.44751460e+09,   1.44826201e+09,   1.44906840e+09,
         1.44991441e+09,   1.45065240e+09,   1.45140120e+09,
         1.45208880e+09,   1.45279081e+09,   1.45363680e+09,
         1.45436400e+09,   1.45506601e+09,   1.45577161e+09,
         1.45652400e+09,   1.45722600e+09,   1.45794240e+09,
         1.45857240e+09,   1.45926721e+09,   1.45991521e+09,
         1.46070720e+09,   1.46143800e+09,   1.46215800e+09,
         1.46283840e+09,   1.46382120e+09,   1.46458080e+09,
         1.46549520e+09,   1.46616480e+09,   1.46689200e+09,
         1.46775960e+09,   1.46839680e+09,   1.46904120e+09,
         1.46984041e+09,   1.47061440e+09,   1.47149280e+09,
         1.47266280e+09,   1.47359520e+09,   1.47440520e+09,
         1.47540960e+09,   1.47657104e+09,   1.47795698e+09,
         1.47870360e+09,   1.47985420e+09,   1.48046328e+09,
         1.48171620e+09,   1.48233480e+09,   1.48302720e+09,
         1.48369500e+09,   1.48375860e+09,   1.48382220e+09,
         1.48389840e+09,   1.48399800e+09,   1.48407780e+09,
         1.48415760e+09,   1.48425600e+09,   1.48439760e+09,
         1.48457880e+09,   1.48477140e+09,   1.48487460e+09])

In [22]:
dfp = pd.read_csv('patchnotes.txt', sep='|', names=['patch', 'date', 'buffs', 'nerfs'])
dfp.fillna(' ', inplace=True)
dfp = dfp[dfp['buffs'].str.contains('buffs')]
dfp['buffs'] = dfp['buffs'].str.replace('buffs:', '')
dfp['buffs'] = dfp['buffs'].str.replace('[:;.]+', '')
dfp['nerfs'] = dfp['nerfs'].str.replace('nerfs:', '')
dfp['nerfs'] = dfp['nerfs'].str.replace('[:.;]+', '')
dfp.sort_values('date', inplace=True)
dfp.reset_index(drop=True, inplace = True)
dfp.head()

,patch,date,buffs,nerfs
0,1.0,1.355431e+09,"chogath,diana,rengar,teemo,zyra,brutalizer,bla...","elise,fiora,masteryi"
1,2.0,1.358293e+09,releasedyet,"amumu,blitzcrank,evelynn,ezreal,katarina,khazi..."
2,3.0,1.359660e+09,"blitzcrank,chogath,ezreal,katarina,missfortune...","heimerdinger,kennen,nasus,sion,tristana,trynda..."
3,3.0,1.360786e+09,,"jarvaniv,lulu"
4,3.5,1.365538e+09,"corki,karma,morgana,nami,nautilus,quinn","akali,kayle,lux,volibear"

In [35]:
for index, row in dfp.iterrows():
    if index != 0:
        print(dfp['date'].iloc[index-1])
        print(row['date'])
        gameplay[(gameplay['date'] < row['date']) & 
                 (gameplay['date'] > dfp['date'].iloc[index-1]) &
                (gameplay['name']=='rumble')]['change'] = 'test'

1355431380.0
1358293320.0
1358293320.0
1359660300.0
1359660300.0
1360786320.0
1360786320.0
1365538080.0
1365538080.0
1367271120.0
1367271120.0
1368648840.0
1368648840.0
1370897040.0
1370897040.0
1373404680.0
1373404680.0
1375224720.0
1375224720.0
1376434680.0
1376434680.0
1378333200.0
1378333200.0
1380578700.0
1380578700.0
1383090840.0
1383090840.0
1386889440.0
1386889440.0
1389736920.0
1389736920.0
1392059400.0
1392059400.0
1393454040.0
1393454040.0
1395174540.0
1395174540.0
1396774980.0
1396774980.0
1398118020.0
1398118020.0
1399493700.0
1399493700.0
1400710620.0

/opt/conda/lib/python3.5/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1400710620.0
1401836040.0
1401836040.0
1403042700.0
1403042700.0
1404246180.0
1404246180.0
1405454940.0
1405454940.0
1406670240.0
1406670240.0
1406763480.0
1406763480.0
1407888840.0
1407888840.0
1410286680.0
1410286680.0
1411597260.0
1411597260.0
1412816220.0
1412816220.0
1415143800.0
1415143800.0
1416438180.0
1416438180.0
1418156880.0
1418156880.0
1421254740.0
1421254740.0
1422386100.0
1422386100.0
1423597740.0
1423597740.0
1424805420.0
1424805420.0
1426097940.0
1426097940.0
1427236500.0
1427236500.0
1428441000.0
1428441000.0
1430269260.0
1430269260.0
1431535620.0
1431535620.0
1432747920.0
1432747920.0
1433867580.0
1433867580.0
1435102380.0
1435102380.0
1436301000.0
1436301000.0
1437499320.0
1437499320.0
1438727340.0
1438727340.0
1440020520.0
1440020520.0
1441183920.0
1441183920.0
1442372280.0
1442372280.0
1443566580.0
1443566580.0
1444794300.0
1444794300.0
1446071940.0
1446071940.0
1447231980.0
1447231980.0
1448297760.0
1448297760.0
1449608400.0
1449608400.0
1453105560.0
1453105560.0
1453945080.0
1453945080.0
1455045120.0
1455045120.0
1456345080.0
1456345080.0
1457457180.0
1457457180.0
1458657840.0
1458657840.0
1459870140.0
1459870140.0
1461142380.0
1461142380.0
1462296900.0
1462296900.0
1463517240.0
1463517240.0
1464798240.0
1464798240.0
1465941360.0
1465941360.0
1467125220.0
1467125220.0
1468338720.0
1468338720.0
1469461920.0
1469461920.0
1470789300.0
1470789300.0
1471968660.0
1471968660.0
1473300660.0
1473300660.0
1474471260.0
1474471260.0
1475654760.0
1475654760.0
1476821220.0
1476821220.0
1478623080.0
1478623080.0
1479749940.0
1479749940.0
1481046840.0
1481046840.0
1481709300.0
1481709300.0
1484078520.0

In [34]:
gameplay[(gameplay['date'] < row['date']) & 
                 (gameplay['date'] > dfp['date'].iloc[index-1]) &
                (gameplay['name']=='rumble')]

Empty DataFrame
Columns: [date, popularity, winrate, banrate, name, release]
Index: []

In [36]:
gameplay.head(50)

            date  popularity  winrate  banrate          name       release
0   1.394525e+09        4.17    50.20     0.34        aatrox  1.370045e+09
1   1.394525e+09        4.46    48.71     0.15          ryze  1.233446e+09
2   1.394525e+09        5.26    50.66     0.10       sejuani  1.325376e+09
3   1.394525e+09        4.52    48.77     0.31         diana  1.343779e+09
4   1.394525e+09        4.69    48.37     0.19         shaco  1.254355e+09
5   1.394525e+09        2.09    49.18     0.20        zilean  1.238544e+09
6   1.394525e+09        5.13    46.64     0.58          shen  1.267402e+09
7   1.394525e+09       11.19    49.32     8.45       shyvana  1.320106e+09
8   1.394525e+09        7.32    49.55     0.56        darius  1.335830e+09
9   1.394525e+09        2.70    49.43     0.12        singed  1.238544e+09
10  1.394525e+09        6.29    49.56     0.54          ahri  1.322698e+09
11  1.394525e+09        1.76    47.47     0.06          sion  1.233446e+09
12  1.394525e+09        2.15    50.31     0.07         corki  1.251763e+09
13  1.394525e+09       16.24    53.58     0.76         sivir  1.233446e+09
14  1.394525e+09        1.12    49.32     0.07       skarner  1.312157e+09
15  1.394525e+09        3.64    46.77     0.06       chogath  1.243814e+09
16  1.394525e+09        7.70    46.98    14.53       drmundo  1.251763e+09
17  1.394525e+09        6.31    50.78     0.56      jarvaniv  1.298938e+09
18  1.394525e+09        1.34    47.44     0.03        rumble  1.301616e+09
19  1.394525e+09       11.46    47.27     2.46           zed  1.351728e+09
20  1.394525e+09        2.85    52.63     0.04          zyra  1.341101e+09
21  1.394525e+09        6.89    52.20     0.44  fiddlesticks  1.233446e+09
22  1.394525e+09        3.74    48.24     0.02      nocturne  1.298938e+09
23  1.394525e+09        2.98    46.39     0.07          nunu  1.233446e+09
24  1.394525e+09       17.03    48.22     0.16        ezreal  1.267402e+09
25  1.394525e+09        5.84    45.70     0.25          olaf  1.275350e+09
26  1.394525e+09        6.21    49.65     0.33       orianna  1.306886e+09
27  1.394525e+09        6.40    52.90     0.03          sona  1.283299e+09
28  1.394525e+09        6.37    48.32    13.12       evelynn  1.241136e+09
29  1.394525e+09        1.86    48.74     0.20         poppy  1.262304e+09
30  1.394525e+09        9.60    49.16    25.09         elise  1.349050e+09
31  1.394525e+09        3.11    50.43     0.04         quinn  1.362096e+09
32  1.394525e+09        3.09    52.03     0.13        rammus  1.246406e+09
33  1.394525e+09       22.65    48.69    13.72      renekton  1.293840e+09
34  1.394525e+09        7.11    48.29     0.48        rengar  1.343779e+09
35  1.394525e+09       12.79    52.83     0.93        draven  1.338509e+09
36  1.394525e+09       15.89    50.00    14.82      pantheon  1.264982e+09
37  1.394525e+09        7.08    50.36     0.24        soraka  1.233446e+09
38  1.394525e+09        1.76    49.75     0.16    cassiopeia  1.291162e+09
39  1.394525e+09        2.47    53.05     0.20         swain  1.285891e+09
40  1.394525e+09       17.81    52.62    67.38            vi  1.354320e+09
41  1.394525e+09       14.74    49.65     1.68         annie  1.233446e+09
42  1.394525e+09        1.46    49.89     0.08        viktor  1.322698e+09
43  1.394525e+09        3.37    47.38     0.05      vladimir  1.277942e+09
44  1.394525e+09       13.11    50.47     0.18      volibear  1.320106e+09
45  1.394525e+09        1.28    49.02     0.11        anivia  1.246406e+09
46  1.394525e+09        8.46    52.23     0.21       warwick  1.233446e+09
47  1.394525e+09       14.63    49.49     5.01        velkoz  1.391213e+09
48  1.394525e+09        3.18    48.77     0.30        xerath  1.317427e+09
49  1.394525e+09        9.83    54.63     7.06         amumu  1.243814e+09

In [7]:
# dt = datetime.fromtimestamp(gameplay['release'].iloc[0])
dt = datetime.fromtimestamp(gameplay['date'].iloc[0])
print(dt.ctime())
dt = datetime.fromtimestamp(gameplay['date'].iloc[1])
print(dt.ctime())

Tue Mar 11 08:08:51 2014
Tue Mar 18 11:00:01 2014

In [ ]:
gameplay.iloc[1000]

In [ ]:
import seaborn as sb
%matplotlib inline

sb.distplot(df['winrate'])

In [ ]:
sb.tsplot(df['winrate'], value="Win Rate",)

ImportError: No module named 'nltk'